# Converting data into pandas dataframe

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
with sqlite3.connect("./bmarket.db") as con:
  cur = con.cursor()

In [4]:
cur.execute("select name from sqlite_master where type='table'")
tables = cur.fetchall()
tables

[('bank_marketing',)]

In [5]:
df = pd.read_sql_query("select * from 'bank_marketing'", con)

In [ ]:
df

,Client ID,Age,Occupation,Marital Status,Education Level,Credit Default,Housing Loan,Personal Loan,Contact Method,Campaign Calls,Previous Contact Days,Subscription Status
0,32885,57 years,technician,married,high.school,no,no,yes,Cell,1,999,no
1,3170,55 years,unknown,married,unknown,unknown,yes,no,telephone,2,999,no
2,32207,33 years,blue-collar,married,basic.9y,no,no,no,cellular,1,999,no
3,9404,36 years,admin.,married,high.school,no,no,no,Telephone,4,999,no
4,14021,27 years,housemaid,married,high.school,no,None,no,Cell,2,999,no
...,...,...,...,...,...,...,...,...,...,...,...,...
41183,6266,58 years,retired,married,professional.course,unknown,no,no,Telephone,2,999,no
41184,11285,37 years,management,married,university.degree,no,no,no,telephone,1,999,no
41185,38159,35 years,admin.,married,high.school,no,None,no,cellular,1,4,yes
41186,861,40 years,management,married,university.degree,no,None,no,telephone,2,999,no
41187,15796,29 years,admin.,single,university.degree,no,yes,no,Cell,2,999,no

Note

We decide to not touch basic. This is because each category might carry individividual implications

# Should 'Unknown' values be inputed?

Contegency table

In [6]:
df['Previous Contact Days'].value_counts(dropna=False, normalize=True) * 100

Previous Contact Days
999    96.321744
3       1.065844
6       1.000291
4       0.286491
9       0.155385
2       0.148101
7       0.145673
12      0.140818
10      0.126250
5       0.111683
13      0.087404
11      0.067981
1       0.063125
15      0.058269
14      0.048558
8       0.043702
0       0.036418
16      0.026707
17      0.019423
18      0.016995
19      0.007284
22      0.007284
21      0.004856
26      0.002428
27      0.002428
20      0.002428
25      0.002428
Name: proportion, dtype: float64

In [9]:
df['Education Level'].value_counts(dropna=False, normalize=True) * 100

Education Level
university.degree      29.542585
high.school            23.101389
basic.9y               14.676605
professional.course    12.729436
basic.4y               10.138875
basic.6y                5.564728
unknown                 4.202680
illiterate              0.043702
Name: proportion, dtype: float64

In [ ]:
df['Occupation'].value_counts(dropna=False, normalize=True) * 100

Occupation
admin.           25.303486
blue-collar      22.467709
technician       16.371273
services          9.636302
management        7.099155
retired           4.175974
entrepreneur      3.535010
self-employed     3.450034
housemaid         2.573565
unemployed        2.461882
student           2.124405
unknown           0.801204
Name: proportion, dtype: float64

In [ ]:
# Contigeny table

pd.crosstab(df['Housing Loan'], df['Subscription Status'], normalize='index') * 100

Subscription Status         no        yes
Housing Loan
no                   88.692484  11.307516
unknown              86.768448  13.231552
yes                  88.202443  11.797557

In [ ]:

pd.crosstab(df['Housing Loan'], df['Marital Status'], normalize='index') * 100

Marital Status   divorced    married     single   unknown
Housing Loan
no              10.862232  61.692079  27.216300  0.229389
unknown         11.704835  61.323155  26.972010  0.000000
yes             11.076207  60.023269  28.760908  0.139616

In [ ]:

pd.crosstab(df['Housing Loan'], df['Occupation'], normalize='index') * 100

Occupation,admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,unknown
Housing Loan,,,,,,,,,,,,
no,24.558089,23.370665,3.238429,2.658211,7.178518,4.236945,3.508298,9.850223,2.131966,16.070706,2.320874,0.877075
unknown,23.918575,20.610687,3.562341,4.071247,6.361323,5.343511,5.597964,9.923664,2.798982,14.758270,2.290076,0.763359
yes,25.700989,21.698662,3.746364,2.513089,6.806283,4.269924,3.606748,9.319372,2.280396,17.056428,2.257126,0.744619

In [ ]:

pd.crosstab(df['Housing Loan'], df['Education Level'], normalize='index') * 100

Education Level,basic.4y,basic.6y,basic.9y,high.school,illiterate,professional.course,university.degree,unknown
Housing Loan,,,,,,,,
no,10.322494,6.004588,14.586426,23.154770,0.053974,12.643368,28.929969,4.304412
unknown,10.941476,4.834606,14.503817,23.664122,0.000000,13.486005,28.753181,3.816794
yes,10.063991,5.386853,14.508435,22.175684,0.046539,13.461315,30.308319,4.048866